<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hire New Player</title>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

</head>
<body>
<!--Navbar -->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Goal4Goal - Online Football Manager</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Club</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/players">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/league">League</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
<div class="bg-image"
     style="background-image:
     url('https://image.shutterstock.com/image-vector/football-field-3d-background-vector-260nw-194264681.jpg');
                 background-repeat: no-repeat; background-size: cover;
                 background-position: center center; height: 100vh">
    <div class="container">

        <form th:action="@{/team/firstsquadplayers}" method="post">
            <div>
                <table style="table-layout: fixed; width: 90%;  text-align: center; color: cornsilk"
                       class="table flex-row borderless "
                       th:name="first11">
                    <tbody style="font-weight: bold; font-size: x-large">
                    <tr style="height: 120px">
                        <td style="width: 20%;" th:id="line1cell1" }
                            class="table-hover"/>
                        <td style="width: 20%;" th:id="line1cell2" }
                            class="table-hover"/>
                        <td style="width: 20%;"class="table-hover" th:id="goalkeeper" >
                            <span th:if="${goalkeeper !=null}" th:text="${goalkeeper.get().getFirstName()}">goalkeeper</span></td>
                        <td style="width: 20%;" th:id="line1cell4" }
                            class="table-hover"/>
                        <td style="width: 20%;" th:id="line1cell5" }
                            class="table-hover"/>
                    </tr>
                    <tr style="height: 120px">
                        <td style="width: 20%;"class="table-hover" th:id="rightWingback" >
                            <span th:if="${rightWingback !=null}" th:text="${rightWingback.get().getFirstName()}">rightWingback</span></td>
                        <td style="width: 20%;"class="table-hover" th:id="rightCentreback" >
                            <span th:if="${rightCentreback !=null}" th:text="${rightCentreback.get().getFirstName()} ">rightCentreback</span></td>
                        <td style="width: 20%;"class="table-hover" th:id="centreback" >
                            <span th:if="${centreback !=null}" th:text="${centreback.get().getFirstName()} ">centreback</span></td>
                        <td style="width: 20%;"class="table-hover" th:id="leftCentreback" >
                            <span th:if="${leftCentreback !=null}" th:text="${leftCentreback.get().getFirstName()} ">leftCentreback</span></td>
                        <td style="width: 20%;"class="table-hover" th:id="leftWingback" >
                            <span th:if="${leftWingback !=null}" th:text="${leftWingback.get().getFirstName()} ">leftWingback</span></td>
                    </tr>
                    <tr style="height: 120px">
                        <td style="width: 20%;"class="table-hover" th:id="rightWinger" >
                            <span th:if="${rightWinger !=null}" th:text="${rightWinger.get().getFirstName()}">rightWinger</span></td>
                        <td style="width: 20%;"class="table-hover" th:id="centreMidDef" >
                            <span th:if="${centreMidDef !=null}" th:text="${centreMidDef.get().getFirstName()}">centreMidDef</span></td>
                        <td style="width: 20%;" th:id="centreMid" >
                            <span th:if="${centreMid !=null}" th:text="${centreMid.get().getFirstName()} ">centreMid</span></td>
                        <td style="width: 20%;"class="table-hover" th:id="centreMidAtt" >
                            <span th:if="${centreMidAtt !=null}" th:text="${centreMidAtt.get().getFirstName()}">centreMidAtt</span></td>
                        <td style="width: 20%;"class="table-hover" th:id="leftWinger" >
                            <span th:if="${leftWinger !=null}" th:text="${leftWinger.get().getFirstName()}">leftWinger</span></td>
                    </tr>
                    <tr style="height: 120px">
                        <td style="width: 20%;" th:id="line4cell1" }
                            class="table-hover"/>
                        <td style="width: 20%;"class="table-hover" th:id="rightForward" >
                            <span th:if="${rightForward !=null}" th:text="${rightForward.get().getFirstName()}">rightForward</span></td>
                        <td style="width: 20%;" th:id="centreForward" >
                            <span th:if="${centreForward !=null}" th:text="${centreForward.get().getFirstName()}">centre Forward</span>
                        </td>
                        <td style="width: 20%;"class="table-hover" th:id="leftForward" >
                            <span th:if="${leftForward !=null}" th:text="${leftForward.get().getFirstName()}">leftForward</span></td>
                        <td style="width: 20%;" th:id="line4cell5" }
                            class="table-hover"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div>
<!--            <table style="table-layout: fixed; width: 100%;  text-align: left"-->
<!--                   th:name="first11footer">-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div style="border-color: #e7f4fd">-->
<!--                            <label style="width: 25%" for="choosetactics" hidden>-->
<!--                                <h5>Set Up Tactics</h5></label><br>-->
<!--                            <select style="width: max-content" name="tactics" class="form-control"-->
<!--                                    id="choosetactics"-->
<!--                                    required>-->
<!--                                <option>Pressing</option>-->
<!--                                <option>Counter Attack</option>-->
<!--                                <option>Long Balls</option>-->
<!--                                <option>Ball Possessing</option>-->
<!--                            </select>-->
<!--                            <p></p>-->
<!--                            <input align="right" type="submit" class="btn-primary" value="Set Up New Tactics"/><br>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td align="right">-->
<!--                        <form th:action="@{/team/first11FormationsValues}" method="post">-->

<!--                            <label style="width: 25%" for="checkformations" hidden>-->
<!--                                <h5>Formation Pts</h5></label><br>-->
<!--                            <select style="width: max-content" name="formationsvalue"-->
<!--                                    class="form-control" id="checkformations"-->
<!--                                    required>-->
<!--                                <option>Defence</option>-->
<!--                                <option>Midfield</option>-->
<!--                                <option>Attacking</option>-->
<!--                            </select>-->
<!--                            <br>-->
<!--                            <input type="submit" class="btn-primary" value="Check Formation Pts"/><br>-->
<!--                            <br>-->
<!--                            <input th:text="${first11Attack}"/>-->
<!--                            <form th:action="@{/team/first11FormationsValues}" method="post">-->

<!--                    </td>-->
<!--                </tr>-->
<!--                <p></p>-->
<!--                <caption>-->
<!--                    <a th:href="@{/team/tactics/}">Change Tactics Settings</a>-->
<!--                </caption>-->
<!--            </table>-->
        </div>
    </div>
</div>
</body>
</html>